<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#0000A8">
        <title>Scottz0r</title>

        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </head>
    <body style="display: none; padding-top: 5px">
        <div id="mobileWarn" style="display: none; color: #ffff00"><b>Warning: This page emulates a Shell and requires a keyboard! (sorry mobile users)</b></div>
        <div id="output">
            Scottz0r Site. Version 0.1.2.<br />
            Type "help" or "copyright" for more information.<br />
        </div>
        <div>
            <span id="inputPrefix">haxz0r@scottz0r-site:~$ </span><span id="input"></span><span id="caret">█</span>
        </div>
    </body>
</html>
